.containnerCard{
      position: relative;
     background-color: transparent
}
/* .cardDetail {
   position: absolute;
   
    margin-top: 80px;
    margin-left: 10%;
    width: 50%;
    
    border-color: rgb(104, 13, 13);
    
  
    background: #14060ed2;
    
    -webkit-box-shadow: 5px 5px 15px 5px #f01919; 
    box-shadow: 5px 5px 15px 5px #ef6e6e;
  } */
  .details{
    position: relative;
    float:right;
    background:transparent;
    height: 680px;
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
   margin-top:10%;
    float: left;
    margin-left: 20%;
  }

  .name-detail{
    font-family: Georgia, serif;
    font-size: 30px;
    letter-spacing: 0.2px;
    word-spacing: 0.2px;
    color: #d77034e3;
    
    font-style: oblique;
    font-variant: normal;
    text-transform: uppercase;
    background:transparent;
   
    width: 750px;
    height: 60px;
    margin-top: 30px;
    margin-left: 30%;
    
  }
  .image-detail{
    position: relative;
    
    background:transparent;
    width:60%;
    margin-left: 20%;
    /* height: 600px; */
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    
  }
  .imagen2{
   
    width: 100%;
    margin-top:20px;
    box-shadow: 0px 1px 15px #bd6238;
    text-shadow: 0px 1px 0px #666666;
    padding: 10px;
  }
  
  .description-detail{
    /* border-radius: 6%;
    background-color: rgba(132, 70, 59, 0.557);
    height: 80%;
    padding: 10px;
    box-sizing: border-box; */
  }
  .titleDetail{
    font-family: 'Fjalla One', sans-serif; 
    color:#ED471D;
    font-size: 45px;
  }
  
  .texto-description{
   
   margin-top: 10px;
    color: rgb(236, 236, 236);
    font-size: 18px;
  }
  .titulo-description {
    font-size: 24px;
   
     font-family: 'Fjalla One', sans-serif; 
    color:#ED471D;
  }
  
  .nav-detail{
    position: fixed;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .rating{
     width:200px;
     -webkit-box-shadow: 0px 0px 11px 8px rgba(83, 85, 87, 0.66); 
    box-shadow: 0px 0px 11px 8px rgba(22, 23, 23, 0.66);
    
    margin-left:10%;
    background-color:#ED471D;
    
  
  }
  .released{
     width:340px;
     -webkit-box-shadow: 0px 0px 11px 8px rgba(83, 85, 87, 0.66); 
    box-shadow: 0px 0px 11px 8px rgba(22, 23, 23, 0.66);
   
    margin-left: 35%;
    background-color: #ED471D;
    
  }
  .datos-desc{
    display: flex;
    flex-direction: column;
    width:60%;
     margin-left: 20%;
    position: absolute;
    margin-top: 25px;
    margin-bottom: 5%;
    background-color: #0000002c;
    float: left;
 padding-top: 15px;
  padding-bottom: 15px;
 
    /* height: 250px; */
   
  }
  .datosIzq  h4{
    color: rgba(14, 13, 13, 0.93);
    font-size: 20px;
  } 
   .datosIzq{
    -webkit-box-shadow: 0px 0px 11px 8px rgba(83, 85, 87, 0.66); 
    box-shadow: 0px 0px 11px 8px rgba(22, 23, 23, 0.66);
    
    font-size: 24px;
      display: flex;
    flex-direction: column; 
width: 80%;
    margin-left: 10%;
    background-color: #ED471D;
  margin-bottom: 15px;
  }
  .datosDer{
    
    width: 80%;
    margin-left:2%;
    display: flex;
    flex-direction: row;
  }
  @media (max-width:1700px) {
 .details{
   margin-top: 20%;
 }
  .released{
    margin-left: 30%;
  }
  }
   @media (max-width:1500px) {
    .titleDetail{
      font-size:40px ;
      margin-right: 28%;
    }
  .released{
    margin-left: 20%;
  }
  }
    @media (max-width:1180px) { 
       .titleDetail{
      font-size:35px ;
      margin-right: 40%;
    }
 .details{
   margin-top: 25%;
   width: 90%;
    margin-left: 5%;
 }
  .released{
    margin-left: 10%;
  }
  .image-detail{
width: 90%;
    margin-left: 5%;
  }
  .datos-desc{
    width: 90%;
    margin-left: 5%;
  }
  }
  @media (max-width:830px) {
.details{
   margin-top: 40%;
  } 
   .titleDetail{
      font-size:30px ;
      margin-right: 60%;
    }
.datosIzq h4{
  font-size: 15px;
}
.rating h4{
   font-size: 15px;
}
.released h4{
 font-size: 15px;
}
      
  }
  @media (max-width:550px) {
.titleDetail{
      font-size:20px ;
      margin-left: 0%;
      margin-right: 80%;
    }
    .details{
   margin-top:50%;
  }
  .texto-description{
    font-size: 15px;
  }
  }