.background {
 /* https://images4.alphacoders.com/600/thumb-1920-600528.png 
 https://c.wallhere.com/photos/1f/d8/10000x6512_px_Joystick_play_PlayStation_PlayStation_4_PSP-1323397.jpg!d*/
  background-image: url('./vg.jpg');
 
  /* background-position: center center; */
  background-size: cover;
background-position:center;
height: 100vh;
margin-top: 0px;

  
  /* background-image: url('https://media.rawg.io/media/games/78b/78bc81e247fc7e77af700cbd632a9297.jpg') ; */

  /* margin-right: -5vw; */


}


.btn-inicio{
  margin-top: 600px;
}
.inicio_button {
	box-shadow: 3px 4px 0px 0px #e63c2d;
	background:linear-gradient(to bottom, #f18d3a 5%, #f2ca3bfe 100%);
	/* background-color:#060606; */
	border-radius:18px;
	border:1px solid #494747;
	display:inline-block;
	cursor:pointer;
	color:#090909;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size:40px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.inicio_button:hover {
	background:linear-gradient(to bottom, #f76c60 5%, #f6200d 100%);

}
.inicio_button:active {
	position:relative;
	top:1px;
}
.inicio{
  padding-top: 10%;
  /* background-color: aliceblue; */
}
.texto-inicio{
  margin-right: 60%;
 
}
.texto{
  font-family:cursive;
  font-size: 5rem;
   color: rgb(192, 57, 12);
} 
        
@media (max-width: 1750px) {
  .texto{
  font-size: 4rem;}

}

@media (max-width: 940px) {
  .background {
background-image:  url('./gamer-wallpaper.webp');;
}
}
@media (max-width: 1000px) {
  .texto{
  font-size: 3rem;}

}
